/* Style the navigation menu */
.links {
    width: 100%;
    text-align: right;
    overflow: auto;
    background-color: #34dbeb;
    padding-bottom: 10px;
    padding-top: 10px;
    }

/* Navigation links */
.links a {
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 25px;
    width: 25%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
}

/* Add an underline on mouse-hover */
.links a:hover {
    text-decoration: underline;
  }
